# compiled objects
*.o

# macOS metadata
.DS_Store

# compiled graphics
*.1bpp
*.2bpp
*.lz
*.gbcpal
*.dimensions
*.animated.tilemap
*.sgb.tilemap
# duplicate generated graphics occasionally created by Finder/cloud copy suffixes
* [0-9]*.1bpp
* [0-9]*.2bpp
* [0-9]*.lz
* [0-9]*.gbcpal
* [0-9]*.dimensions
* [0-9]*.animated.tilemap
* [0-9]*.sgb.tilemap
* [0-9]*.tilemap
* [0-9]*.o
gfx/pokemon/*/front.animated [0-9]*.tilemap
gfx/pokemon/*/bitmask [0-9]*.asm
gfx/pokemon/*/frames [0-9]*.asm
gfx/pokemon/*/bitmask.asm
gfx/pokemon/*/frames.asm
!gfx/pokemon/unown/bitmask.asm
!gfx/pokemon/unown/frames.asm

# compiled roms
*.gbc
*.gb
*.patch

# rgbds extras
*.map
*.sym

# tool binaries
*.exe
tools/gbcpal [0-9]*
tools/gfx [0-9]*
tools/lzcompress [0-9]*
tools/make_patch [0-9]*
tools/png_dimensions [0-9]*
tools/pokemon_animation [0-9]*
tools/pokemon_animation_graphics [0-9]*
tools/scan_includes [0-9]*
tools/stadium [0-9]*

# precompiled python
*.pyc
*$py.class

# save game files
*.sgm
*.sav
*.rtc
*.sn*
*.sa*
*.sg1
